{% with level=level|default:0 %}
    {% for child_meeting in all_meetings %}
        {% if child_meeting.parent_meeting and child_meeting.parent_meeting.id == parent_meeting.id %}
            <tr>
                <td style="padding-left: {{ level|add:'20' }}px;">↳
                    <a href="#" onclick="showPdf({{ child_meeting.id }})">
                        {{ child_meeting.meeting_name }}
                    </a>
                </td>
                <td>{{ child_meeting.date|date:"d/m/Y H:i" }}</td>
                <td>
                    <ul>
                        {% for attendant in child_meeting.attendants.all %}
                            <li>{{ attendant.member.first_name }} {{ attendant.member.last_name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for decision in child_meeting.decisions.all %}
                            <li>
                                <strong>{{ decision.topic_group }}</strong>: {{ decision.decision_text }}
                                (Durum: {{ decision.get_decision_status_display }})
                                {% if decision.responsible %}
                                    (Sorumlu: {{ decision.responsible.first_name }} {{ decision.responsible.last_name }})
                                {% else %}
                                    (Sorumlu: Belirtilmemiş)
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{% url 'download_meeting_pdf' child_meeting.id %}" class="btn btn-secondary">
                        PDF İndir
                    </a>
                </td>
                <td>
                    {% if child_meeting.meeting_file %}
                        <a href="{{ child_meeting.meeting_file.url }}" class="btn btn-secondary" download>
                            Dosyayı İndir
                        </a>
                    {% else %}
                        <span>Dosya yok</span>
                    {% endif %}
                </td>
            </tr>
            {% if level < 10 %}
                {% include "yasar/recursive_meetings.html" with parent_meeting=child_meeting all_meetings=all_meetings level=level|add:'1' %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endwith %}
